<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List!</title>
  </head>
  <body>
    <h1><%= kindOfDay %> List</h1>

      <ul>
      <%for (var i  = 0; i < newListItems.length; i++){%>
          <li><%= newListItems[i] %></li>
      <%}%>
      </ul>
    <form  action="/" method="post">
      <input type="text" name="Item">
      <button type = "submit" >add</button>
    </form>

  </body>
</html>
